@import "tailwindcss";

/* Text animation */
.animation-slide-in {
  opacity: 0;
  transform: translateX(-80px) scale(3); 

  animation: slideIn linear both;
  animation-timeline: view(20%);
}

/* Keyframes */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
